<div id="sideNav">
  VIBE
</div>

<!-- replace this search field and button with rails form helpers once the geocoder is up -->
<input type="text" id="searchbox" placeholder="Where do you want to go?"/>
<button id="go">Let's go!</button>

<div id="map-canvas">
</div>


<!-- <ul>
    <li id="intro"> Check the world's pulse with the click of a button.</li>
    <li id="share"> Share. </li>
    <li id="credits"> Built and designed by Matt Cano, Rob Colby, Sarah Barnekow, and Aron Hegyi </li>
  </ul> -->
  