<div id="sideNav">
  <p id="vibe">VIBE</p>
</div>

<form id="search">
  <input type="text" id="searchbox" placeholder="Where do you want to go?"/>
</form>

  <%= image_tag "ajax-loader.gif", :alt => "Loading...", :class => "loader" %>

<div id="map-canvas">
</div>