<div id="sideNav">
  <p> VIBE </p>
  <ul>
    <li id="intro"> Check the world's pulse with the click of a button.</li>
    <li id="share"> Share. </li>
    <li id="credits"> Built and designed by Matt Cano, Rob Colby, Sarah Barnekow, and Aron Hegyi </li>
  </ul>
</div>

<div class="container">

  <div id="searchcomponent">
    <input type="text" id="searchbox" placeholder="Where do you want to go?"/>
    <button>Let's go!</button>
    <!-- <object id="searchicon" type="image/svg+xml" data="search.svg">Your browser does not support SVG</object> -->
  </div>

  <div id="map-canvas">
  </div>
</div>