<div id="sideNav">
  <%= image_tag "VibeLogo_sm.png", :alt => "VIBE", :id => "vibe" %>
</div>

<form id="search">
  <input type="text" id="searchbox" placeholder="Where do you want to go?"/>
</form>

  <%= image_tag "ajax-loader.gif", :alt => "Loading...", :class => "loader" %>

<div id="map-canvas">
</div>