<div class="searchbar">
  <h2>Animation Test</h2>
  <button class="start">Start</button>
</div>
<%= image_tag "ajax-loader.gif",  :alt => "Loading"
                                  :class => 'loader' %>