<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf=8">
  <title>Animation Test</title>
  <link href="css/vader/jquery-ui-1.10.3.custom.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <script src="js/jquery-1.9.1.js"></script>
  <script src="js/jquery-ui-1.10.3.custom.js"></script>
  <script src="js/animation.js"></script>
</head>
<body>
    <div class="searchbar">
      <h2>Test</h2>
      <button class="start">Start</button>
    </div> 
</body>
</html>