body {
  margin: 0;
}

h2 {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  display: inline-block;
  margin-left: 40px;
  padding: 5px;
}

.tile img {
  height: 100%;
  border-radius: 10px;
}

.searchbar {
  background-color: black;
  height: 40px;
  padding: 5px;
}

.start {
  height: 20px;
  background-color: red;
  border-radius: 5px;
  text-align: center;
  margin-left: 20px;
}

.tile {
  position: absolute;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: bold;
  margin-right: 20px;
  margin-left: 20px;
  opacity: 1;

}

.small {
  height: 100px;
  width: 150px;
  background-color: purple;
  text-align: center;
  z-index: 1;
}

.medium {
  height: 125px;
  width: 250px;
  background-color: orange;
  text-align: center;
  z-index: 2;
}

.large {
  height: 175px;
  width: 250px;
  background-color: green;
  text-align: center;
  z-index: 3;
}

.extra-large {
  height: 250px;
  width: 350px;
  background-color: red;
  text-align: center;
  z-index: 4;
}

.detail {
<<<<<<< HEAD
<<<<<<< HEAD
  height: 80%;
  width: 80%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 5%;
=======
  height: 80%;
  width: 80%;
>>>>>>> Setting up queueing system to add additional tiles, temporarily removing flip animation.
  z-index: 10;
  top: 10px;
  left: 10px;
}

.tile-text {
  position: absolute;
  text-align: center;
  color: white;
  width: 100%;
  font-family: Verdana, Arial, sans-serif;
}
